.sidebar {
  background-color: #eeeeee;
  width: 15%;
  height: calc(100vh - 48.67px);
  position: fixed;
  top: 48.67px;
  left: 0;
  overflow-y: auto;
}

.sidebar .category-title {
  color: #bdbfc2;
  padding: 13px 8px;
  font-size: 13.5px;
  font-weight: 500;
}

.sidebar .category-list .item {
  display: flex;
  align-items: center;
}

.sidebar .item {
  /* background-color: aquamarine; */
  padding: 8px 7px;
  cursor: pointer;
}

.sidebar .item:hover {
  background-color: #ffcfcd;
  transition: background-color 0.3s ease;
}

.sidebar .item .image-icon {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #dbdbdb;
}

.sidebar .item .name {
  margin-left: 13px;
  font-weight: 500;
  font-size: 13px;
  color: #6d6c6d;
}

.sidebar img {
  height: 22px;
}
